
@media (max-width: 428px) {
 

    .meu-main {
        display: flex;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('../../../public/main.webp');
        background-size: cover;
        height: 40rem;
    }

    .meu-h1 {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-style: normal;
    }

    .meu-h2-mob {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        color: rgb(255, 255, 255);
        font-style: normal;
    }
}
