.meu-a-contact{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 11px;
    color: #ffffff;
    font-style: normal;    
    transition: 0.5s;

}

.meu-a-contact:hover {
    transition: 0.5s;
    background-color: #ffffff;
    color: #000000;  
}
